/* CSS */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;

    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
}

.slick-track {
    position: relative;
    display: flex;
}

.slick-slide {
    display: none;
    float: left;
    min-height: 1px;
    transition: transform 0.5s ease;
}



.slick-initialized .slick-slide {
    display: block;
}

/* ตั้งค่าให้ภาพที่ไม่ใช่ Center ลดขนาดลง เบลอ และมี z-index ต่ำกว่า */
.slick-slide:not(.slick-center) img {
    transform: scale(0.9);
    /* ลดขนาดของภาพข้าง ๆ ลง */
    filter: grayscale(50%) blur(4px);
    /* เบลอและกรองสี */
    opacity: 0.5;
    z-index: 1;
    box-shadow: none;
    transition: transform 0.5s ease, filter 0.5s ease, opacity 0.5s ease;
}

/* เพิ่มการจัดให้ภาพที่เป็น Center เด่นกว่า */
.slick-center img {
    transform: scale(2);
    /* ขยายขนาดภาพตรงกลาง */
    filter: grayscale(50%) blur(3);
    /* ลบเบลอ */
    opacity: 1;
    z-index: 3;
    transition: transform 0.5s ease, filter 0.5s ease, opacity 0.5s ease;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    /* เพิ่มเงาให้ภาพตรงกลาง */
}

.slider-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
}

.slide-item {
    padding: 10px;
    overflow: visible;
}

.slide-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.5s ease, filter 0.5s ease, opacity 0.5s ease;
}